/*Colors*/
$brand-color--pink-1:        #ef63ad;
$brand-color--pink-2:        #da0071;
$brand-color--pink-3:        #cab0c1;
$brand-color--pink-4:        #835f77;
$brand-color--pink-5:        #9a8693;
$brand-color--pink-6:        #f496c8;
$brand-color--pink-bg:       #ffc3f3;