/*Colors*/
$brand-color--pink-1:        #ef63ad;
$brand-color--pink-2:        #da0071;
$brand-color--pink-3:        #c5c5c5;
$brand-color--pink-4:        #808080;
$brand-color--pink-5:        #989898;
$brand-color--pink-6:        #f496c8;
$brand-color--pink-bg:       #f5f4f2;