.u-align--center{
  text-align: center !important;
}
.u-align--left{
  text-align: left !important;
}
.u-align--right{
  text-align: right !important;
}
.u-mb--lg{
  margin-bottom: 40px !important;
}
.u-mb--md{
  margin-bottom: 20px !important;
}
.u-mt--lg{
  margin-top: 40px !important;
}
.u-mt--md{
  margin-top: 20px !important;
}
