.u-align-center{
  text-align: center;
}
.u-align-left{
  text-align: left;
}
.u-align-right{
  text-align: right;
}
.u-mb-lg{
  margin-bottom: 40px;
}
.u-mb-md{
  margin-bottom: 20px;
}
.u-mt-lg{
  margin-top: 40px;
}
.u-mt-md{
  margin-top: 20px;
}
