{{#> c-base}}
    <div class="t-landing">
        {{#> e-hero image='assets/img/BannerPrincipal.jpg'}}{{/e-hero}}
        {{#> c-main}}
            <h1 class="p-title p-title--h1 u-align-center">Celebramos los <span>500 millones</span> de libros vendidos en Círculo sorteando </h1>
            <p class="p-paragraph p-paragraph--huge u-align-center">10</p>
            <p class="p-title p-title--h2 u-align-center">Televisores Toshiba Smart TV de 40”</p>
            <p class="p-title p-title--h2 p-title--h2-secondary u-align-center">
                ¡Participa! Además, formarás parte de manera totalmente gratuita de
                <span>Privilegios Planeta</span> durante 3 meses, valorado en 30€.
            </p>
            {{#> p-wrapper extraClass='p-wrapper--tiny'}}
                    <p class="p-paragraph p-paragraph--md">Completa tu formulario:</p>
            <form>
                <input class="p-input" type="text" placeholder="N de Socio*">
                <input class="p-input" type="email" placeholder="Email*">
                <p class="u-mb-md">* Estos campos son obligatorios</p>
                <p class="u-mb-md">Círculo de Lectores, S. A. U. tratará sus datos personales para gestionar la relación con Usted y para remitirle, por cualquier medio, información y comunicaciones comerciales sobre nuestros productos y servicios similares a los contratados. </p>
                <p class="p-paragraph u-mb-lg">Por favor, marque las siguientes casillas para darnos su consentimiento para: </p>
                <div class="e-readmore" id="readmore-1">
                    <p class="e-readmore__text--sliced">
                        <label>
                            <input type="checkbox" id="" value="">
                            Remitirle comunicaciones comerciales personalizadas sobre nuestros productos  Remitirle comunicaciones comerciales personalizadas sobre nuestros productos  Remitirle comunicaciones comerciales personalizadas sobre nuestros productos  Remitirle comunicaciones comerciales personalizadas sobre nuestros productos  Remitirle comunicaciones comerciales personalizadas sobre nuestros productos  Remitirle comunicaciones comerciales personalizadas sobre nuestros productos  Remitirle comunicaciones comerciales personalizadas sobre nuestros productos  Remitirle comunicaciones comerciales personalizadas sobre nuestros productos
                        </label>
                    </p>
                    <div data-readmore="readmore-1" class="e-readmore__btn">ver más</div>
                </div>
                <div class="e-readmore" id="readmore-2"><p class="e-readmore__text--sliced"><label><input type="checkbox" id="" value=""> Comunicar a las empresas del Grupo Planeta sus datos personales Comunicar a las empresas del Grupo Planeta sus datos personales Comunicar a las empresas del Grupo Planeta sus datos personales Comunicar a las empresas del Grupo Planeta sus datos personales </label></p><div data-readmore="readmore-2" class="e-readmore__btn">ver más</div></div>
                <p class="u-mb-lg"><label><input type="checkbox" id="" value=""> He leído y acepto la política de privacidad <a target="_blank" href="http://www.circulo.es/politica-privacidad-info">www.circulo.es/politica-privacidad-info</a></label></p>
                <input class="p-button" type="submit" value="PARTICIPA">
            </form>
            {{/p-wrapper}}
        {{/c-main}}
    </div>
    {{> c-footer}}
    </div>
{{/c-base}}

