.p-paragraph{
  font-size: 12px;
  label{
    color: $brand-color--pink-5;
  }
  &.p-paragraph--huge{
    font-size: 145px;
    color: $brand-color--pink-3;
    margin: 0 0 40px;
    line-height: .8;
  }
  &.p-paragraph--md{
    font-size: 18px;
  }
}