.p-title{
  margin-top: 0;
  margin-bottom: 40px;

  &.p-title--h1 {
    font-size: 40px;
    color: $brand-color--pink-1;

    span{
      color: $brand-color--pink-2;
    }
  }
  &.p-title--h2{
    font-size: 25px;
    color: $brand-color--pink-4;

    &.p-title--h2-secondary{
      color: $brand-color--pink-5;
      margin-bottom: 0;
      span{
        color: $brand-color--pink-6;
      }
      a{
        color: $brand-color--pink-5;
        text-decoration: underline;
      }
    }
  }
}