<footer class="c-footer u-align--center">
    {{#> p-wrapper}}
        <p class="p-paragraph">Copyright © 2019 Círculo. Todos los derechos reservados</p>
        <p class="p-paragraph"><a href="#">Condiciones generales de contratación</a> | <a href="#">Condiciones de
            uso</a> | <a href="#">Politica de uso de cookies</a> | <a href="#">Política de
            privacidad</a> | <a href="#">Bases del sorteo</a></p>
    {{/p-wrapper}}
    </div>
</footer>