.e-readmore{
  .e-readmore__text--sliced{
    display: inline-block;
    position: relative;
    width: 247px;
    max-height: 14px;
    overflow: hidden;
    vertical-align: middle;
    @include mediaQueryMin(400px){
      width: 332px;
    }
    @include mediaQueryMin($mq_breakpoint--sm){
      width: 480px;
    }
   &.e-readmore__text--sliced--md {
     width: 280px;
     @include mediaQueryMin($mq_breakpoint--sm){
       width: 402px;
     }
   }
  }

  .e-readmore__btn{
    cursor: pointer;
    color: $brand-color--pink-6;
    text-decoration: none;
    display: inline-block;
  }
  &.e-readmore--open{
    .e-readmore__text--sliced{
      max-height: none;
      width: 100%;
    }
    .e-readmore__btn{

    }
  }
}
